/* ============== color palette & main css ============== */
:root {
    --c1: #161A30;
    --c2: #1d2241;
    --c3: #31304D;
    --c4: #B6BBC4;
    --c5: #F0ECE5;
    --c6: #00030e;
}
.Pointer:hover {
    cursor: pointer;
}
.white {
    color: var(--c5);
}
.SepLine {
    height: 3px;
    background-color: var(--c1);
}
img {
    width: 22px;
}
body {
    background-color: var(--c3);
    margin:0;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}
/* scroll bar */
::-webkit-scrollbar {
    background-color: var(--c2);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--c1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ============== header & btns ============== */
#header {
    background-color: var(--c1);
    width: calc(100% - 10px);
    height: 40px;
    color: var(--c5);
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

/* ============== bottom ============== */
#bottom {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    height: 60px;
    background-color: var(--c1);
    padding: 0px 5px 0px 5px;
    color: var(--c4);
    display: flex;
    align-items: center;
    font-size: 12px;
}
/*#Cookie {
    display: flex;
    position: relative;
    right: 0;
    width: 40%;
    color: var(--c6);
    font-weight: bold;
}
.CookieBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    margin: 0px 5px
}
#Save {
    background-color: #418f41;
}
#Reset {
    background-color: #8f4141;
}*/
#BottomInfo {
    width: 100%;
}

/* ============== Main Page ============== */
#MainPage {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    background: var(--c3);
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 150px 3px 150px 3px;
}
 
/* ============== Shiny odds ============== */
#ShinyDataContainer {
    position: relative;
    height: 120px;
    padding: 10px 0px 20px 10px;
    color: var(--c5);
    font-size: 22px;
    font-weight: 600;
}
#ShinyCells {
    padding: 5px;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 100;
    padding-right: 15px;
}
.DataCell {
    background-color: var(--c2);
    width: 155px;
    height: 40px;
    margin-right: 15px;
    font-size: 17px;
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: var(--c1) 3px solid;
    color: var(--c4);
}
#ShinyRunesLuck {
    margin-right: 0;
}
#ShinyResult {
    font-size: 20px;
    font-weight: 100;
}
/* a */
#dropdown-content-shiny-wall {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.Dropbtn:hover #dropdown-content-shiny-wall {
    display: inline-block;
}
/* b */
#dropdown-content-shiny-badge {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.content {
    width: 100%;
    height: 25px;
    border: none;
    background-color: var(--c4);
    display: flex;
    align-items: center;
    font-size: 15px;
}
.content:hover {
    background-color: var(--c5);
}
.Dropbtn:hover #dropdown-content-shiny-badge {
    display: inline-block;
}
/* c */
.InputText {
    border: none;
    border-radius: 3px;
    background-color: var(--c4);
}
.InputText:focus {
    border: none;
    background-color: var(--c5);
    outline: none;
}
#PS-input-text {
    width: calc(100% - 6px);
}
#ExpertLuck {
    position: relative;
    top: 10px;
    right: 3px;
}
/* d */
#dropdown-content-shiny-runes {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.Dropbtn:hover #dropdown-content-shiny-runes {
    display: inline-block;
}

/* ============== Metallic odds ============== */
#MetDataContainer {
    position: relative;
    height: 120px;
    padding: 10px;
    color: var(--c5);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}
#MetCells {
    padding: 5px;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 100;
    padding-right: 15px;
}
#MetResult {
    font-size: 20px;
    font-weight: 100;
}
/* a */
#dropdown-content-met-wall {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.Dropbtn:hover #dropdown-content-met-wall {
    display: inline-block;
}
/* b */
#dropdown-content-met-badge {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.Dropbtn:hover #dropdown-content-met-badge {
    display: inline-block;
}
/* c */
#dropdown-content-met-runes {
    position: relative;
    top: 5px;
    left: -5px;
    background-color: var(--c4);
    color: var(--c6);
    width: calc(100% + 4px);
    border: 3px solid var(--c1);
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 2;
}
.Dropbtn:hover #dropdown-content-met-runes {
    display: inline-block;
}

/* ============== Giant odds ============== */
#GiantDataContainer {
    position: relative;
    height: 120px;
    padding: 10px;
    color: var(--c5);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}
#GiantCells {
    padding: 5px;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 100;
    padding-right: 15px;
}